.RootContainer {
  height: 100vh;
  /* width: 100%; */
  /* overflow: hidden; */
  /* flex: 1; */
}

.VBox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.HBox {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.Flex1 {
  flex: 1;
}

.Editor {
  background-color: blanchedalmond;
}

.OverFlowAuto {
  overflow: auto;
}

.ElectronDraggable {
  /* Adjust the height according to your design */
  -webkit-app-region: drag;
}

.Header {
  background: linear-gradient(to top, #ffbe6f, #ffd9ab);
}

.IconBtn1 {
  margin: 0 5px;
  padding: 3px;
  cursor: pointer;
  padding: 5px;
  -webkit-app-region: no-drag;
}

.IconBtn1:hover {
  /* opacity: 0.5; */
  color: #0066ccc6;
  /* background-color: #fd981c; */
}

.FontSizeSmall {
  font-size: small;
}

.MainHeader {
  background: linear-gradient(to top, #ffbe6f, #ffd9ab);
  /* background: linear-gradient(to top, #a0d2ff, #c9e6ff); */
  padding: 10px 10px 5px 10px;
}

.MainHeaderText {
  font-weight: bold;
}

.CenterAndMiddle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoteItem {
  border: 0.5px solid #fcf0e2;
  padding: 10px;
  font-size: small;
}

.NoteItem:hover {
  opacity: 0.9;
  background-color: #fcf0e2;
  cursor: pointer;
}

.CROSS_ICON {
  font-size: 16px;
}

.StartScreenPaper {

  width: 200px;
  animation: zoomInOut 2s infinite;
}

@keyframes zoomInOut {

  0%,
  100% {
    width: 200px;
    /* height: 100px; */
  }

  50% {
    width: 250px;
    /* Increase size by 20px */
    /* height: 120px; */
  }
}

.ql-editor li {
  /* Adjust the value as needed */
  margin-left: -25px;
}

/* CSS to style checked checklist items */
.ql-editor li[data-list="checked"] {
  text-decoration: line-through;
  color: #888;
  /* Optional: change the color to indicate completion */
}